.header {
    background: linear-gradient(to bottom, #E31019, #7E1B04);
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    padding: 15px 0;
}

.menu--main {
    text-align: center;

}

.menu--main li {
    display: inline-block;
}

.menu--main li a {
    display: block;
    width: 150px;
    text-decoration: none;
    color: white;
    padding: 15px 0;
    font-size: 20px;

}

.menu--main li a:hover {
    color: black;
}

.menu--sub {
    display: none;
    position: absolute;
}

.menu--sub li {
    display: block;
    background: #7E1B04;
}