body {
    background: black;
}

.menuBar__main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: gray;
    margin-top: 30px;
}

.menuBar__main li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBar__main li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 20px;
}

/* .menuBar__main li a:hover {
    color: black;
} */

.menuBar__sub {
    display: none;
}

.menuBar__sub li a {
    font-size: 10px;
}